.docente-folder {
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, rgba(218, 105, 228, 0.5) 0%, rgba(51, 44, 214, 0.5) 100%),
    radial-gradient(287.92% 126.61% at 92.11% 85.42%, #fff 0%, #3e3d3d 100%);
  overflow: hidden; /* Previene el scroll en el contenedor principal */
}

.docente-folder-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20%; /* Ajusta esto según el ancho de tu LeftBar */
  height: 100%; /* Asegura que ocupe toda la altura */
}

.docente-folder-content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 19px;
  margin: 20px;
  overflow-y: auto; /* Habilita el scroll vertical */
  max-height: calc(100vh - 100px); /* Ajusta esto según la altura de tu TopBarDocente */
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Estilos para el componente FileCard */
.file-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.file-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.file-icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.file-name {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #eee;
  background-color: #f8f8f8;
  border-radius: 0 0 10px 10px;
}

/* Estilizar la barra de desplazamiento para navegadores webkit */
.docente-folder-content::-webkit-scrollbar {
  width: 10px;
}

.docente-folder-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.docente-folder-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.docente-folder-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

