.Edit{
    flex-shrink: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    border: none;
    position:relative;
    top: 10px;
    left: 50px; 
  }
  
  .Edit:hover {
    background: #b9b5c0;
  }
  .Edit:active {
    background: #5b595e;
    border: 1px solid black;
  }