.Eliminar{
    left: 200px;
    position: absolute;
    background: white;
    color: red;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}