.Barra {
    width: 275px;
    height: 100vh;
    background: linear-gradient(170deg, #B2B0F2 0.96%, #8F72CE 92.31%);
    position: absolute;
    left: 0;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.leftbar-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.cajaRuta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-title {
    color: #e9e9e9;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 80%;
    padding-bottom: 5px;
}
