/* Contenedor principal de la barra de búsqueda */
.search-form {
    /* position: relative; */
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
  
  /* Contenedor del input y el icono */
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

  }
  
  /* Estilos para el icono de búsqueda */
  .search-icon {
    position: absolute;
    left: 12px;
    color: #c0c3c9;
    pointer-events: none; /* Para que no interfiera con clicks */
  }
  
  /* Input de búsqueda */
  .search-input {
    color: #000000; /* Color más oscuro para mejor contraste */
    width: 100%;
    max-width: 100%;
    padding: 10px 16px 10px 40px; /* Más espacio para icono */
    background-color: #f1f3f5; /* Más claro para contraste */
    border: 1px solid #ccc;
    border-radius: 9999px;
    font-size: 16px;
    transition: all 0.2s ease;
    opacity: 1;
}
  /* Estilos para el estado focus */
  .search-input:focus {
    outline: none;
    color: black;
    border-color: #007bff; /* Azul para destacar */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 640px) {
    .search-input {
      font-size: 14px;
      padding: 6px 12px 6px 36px;
    }
  
    .search-icon {
      left: 10px;
    }
  }
  
  