.buscar-usuario-container {
  display: flex;
}

.buscar-usuario-content {
  flex-grow: 1;
  padding: 20px;
}

.buscar-usuario-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 20px;
  font-size: 16px;
}

.user-list {
  max-height: 500px;
  overflow-y: auto;
}
