/* Fondo */
.ir-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Box */
.ir-modal-container-overlay {
  background: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: ir-fadeIn 0.3s ease-in-out;
  z-index: 100000;
}

.ir-modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Title */
.ir-modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

/* Input Fields */
.ir-modal-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Button */
.ir-modal-button {
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #6c5ce7;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ir-modal-button:hover {
  background-color: #4834d4;
}

/* Close Button */
.ir-close-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.ir-close-btn:hover {
  background: darkred;
}

.ir-roles-checkbox-container {
  margin: 10px 0;
}

.ir-role-checkbox-label {
  display: block;
  margin: 5px 0;
}

.ir-roles-dropdown-container {
  margin: 10px 0;
}

.ir-roles-dropdown {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  max-height: 150px; /* Altura máxima del desplegable */
  overflow-y: auto; /* Agrega scroll vertical */
  background-color: #f9f9f9;
}

.ir-role-checkbox-label {
  display: block;
  margin: 5px 0;
  font-size: 16px;
}

.ir-role-checkbox-label input {
  margin-right: 10px;
}

/* Fade-In Animation */
@keyframes ir-fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.ir-modal-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  animation: ir-fadeIn 0.5s ease-in-out forwards;
}

.ir-modal-message.ir-success {
  background-color: #d4edda; /* Fondo verde claro */
  color: #155724; /* Texto verde oscuro */
  border: 1px solid #c3e6cb;
}

.ir-modal-message.ir-error {
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo oscuro */
  border: 1px solid #f5c6cb;
}

.modal-message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    z-index: 1000;
  }
  
  .modal-message.success {
    background-color: #d4edda; /* Fondo verde claro */
    color: #155724; /* Texto verde oscuro */
    border: 1px solid #c3e6cb;
  }
  
  .modal-message.error {
    background-color: #f8d7da; /* Fondo rojo claro */
    color: #721c24; /* Texto rojo oscuro */
    border: 1px solid #f5c6cb;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
